/* message box */

textarea {
    resize: none;
}


/* location */

#map {
    height: 400px;
    width: 100%;
}


/* social media */

.social-circle {
    border-radius: 20%;
    height: 5%;
    width: 5%;
}