.testimonial {
    margin-bottom: 25px;
    img {
        height: 120px;
        width: 100%;
        border-radius: 50%
    }
    .info {
        text-align: center;
        margin-top: 8px;
    }
    .comment {
        margin-top: 8px;
    }
}