<div class="row">
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>
            <img src='../assets/img/petandsupplies/cages/catcage01.jpg'>
            <div class='card-divider'>
                ₱1500
            </div>

            <center><button class="hollow button warning" data-open='cageModal01'>Details</button></center>
            <div class='large reveal' id='cageModal01' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cages/catcage01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>Description</h5>
                    <br>
                    <p>2 Door Pet Dog Cat Metal Collapsible Wire Cage Crate Kennel with Plastic Tray. </p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>

        </div>

    </div>
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/cages/catcage02.jpg'>
            <div class='card-divider'>
                ₱1500
            </div>

            <center><button class="hollow button warning" data-open='cageModal02'>Details</button></center>
            <div class='large reveal' id='cageModal02' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cages/catcage02.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>Description</h5>
                    <br>
                    <p>Small Folding Pet Dog Cat Crate Cage Kennel With Plastic Tray(Blue) - intl </p>

                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSES BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/cages/cage03.jpg'>
            <div class='card-divider'>
                ₱1500
            </div>

            <center><button class="hollow button warning" data-open='cageModal03'>Details</button></center>
            <div class='large reveal' id='cageModal03' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cages/cage03.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>Description</h5>
                    <br>
                    <p>Pet Crates EL-1.5 Foldable Dog Cage w/ Plastic tray (Black)</p>

                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSES BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/cages/cage04.jpg'>
            <div class='card-divider'>
                ₱1500
            </div>

            <center><button class="hollow button warning" data-open='cageModal04'>Details</button></center>
            <div class='large reveal' id='cageModal04' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cages/cage04.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>Description</h5>
                    <br>
                    <p>Dog Cat Fabric Soft Pet Crate Kennel Cage Carrier House (M) -Blue+Black - intl </p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>