<div class="row">
    <div class="large-12 columns" id="select-breed-cat">
        <label>Filter</label>
        <select>
            <option value="">Choose a breed</option>
            <option value="">Ragamuffin</option>
            <option value="">Siamese</option>
            <option value="">Persian</option>             
          </select>
    </div>
</div>
<div class="row">
    <div class="large-3 medium-6 columns">
        <div class='card cats'>

            <img src='../assets/img/petandsupplies/cats/persian01.jpg'>
            <div class='card-divider'>
                ₱2000
            </div>

            <center><button class="hollow button warning" data-open='catModal01'>Details</button></center>
            <div class='large reveal' id='catModal01' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cats/persian01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Cathy</p>
                    <h5>GENDER</h5>
                    <p>Female</p>
                    <h5>BREED</h5>
                    <p>Persian</p>
                    <h5>AGE</h5>
                    <p>3 Years old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class='card cats'>

            <img src='../assets/img/petandsupplies/cats/ragamuffin01.jpg'>
            <div class='card-divider'>
                ₱2000
            </div>

            <center><button class="hollow button warning" data-open='catModal02'>Details</button></center>
            <div class='large reveal' id='catModal02' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cats/ragamuffin01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Ragbie</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Ragamuffin</p>
                    <h5>AGE</h5>
                    <p>2 Years old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class='card cats'>

            <img src='../assets/img/petandsupplies/cats/Siamese.jpg'>
            <div class='card-divider'>
                ₱2000
            </div>

            <center><button class="hollow button warning" data-open='catModal03'>Details</button></center>
            <div class='large reveal' id='catModal03' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cats/Siamese.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Jolly</p>
                    <h5>GENDER</h5>
                    <p>Female</p>
                    <h5>BREED</h5>
                    <p>Siamese</p>
                    <h5>AGE</h5>
                    <p>1 Year old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class='card cats'>

            <img src='../assets/img/petandsupplies/cats/Kitten.jpg'>
            <div class='card-divider'>
                ₱2000
            </div>

            <center><button class="hollow button warning" data-open='catModal04'>Details</button></center>
            <div class='large reveal' id='catModal04' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/cats/Kitten.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Kitty</p>
                    <h5>GENDER</h5>
                    <p>Female</p>
                    <h5>BREED</h5>
                    <p>Unknown</p>
                    <h5>AGE</h5>
                    <p>2 months old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>



</div>