<div class="row">
    <div class="large-12 columns" id="select-breed-dog">
        <label>Filter</label>
        <select>
            <option value="">Choose a breed</option>
            <option value="">Chihuahua</option>
            <option value="">Shihtzu</option>
            <option value="">Bulldog</option>
            <option value="">Great Dane</option>
            <option value="">Beagle</option>
            <option value="">Poodle</option>
            <option value="">Pug</option>         
          </select>
    </div>
</div>
<div class="row">
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/shihtzu01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal01'>Details</button></center>
            <div class='large reveal' id='dogModal01' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/shihtzu01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Cheng</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Shihtzu</p>
                    <h5>AGE</h5>
                    <p>2 Years old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>

        </div>

    </div>
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/bulldog01.JPG'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal02'>Details</button></center>
            <div class='large reveal' id='dogModal02' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/bulldog01.JPG'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Bully Joe</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Bulldog</p>
                    <h5>AGE</h5>
                    <p>5 months old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSES BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/beagle01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal03'>Details</button></center>
            <div class='large reveal' id='dogModal03' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/beagle01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Bantay</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Beagle</p>
                    <h5>AGE</h5>
                    <p>2 Years old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSES BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/chihuahua01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal04'>Details</button></center>
            <div class='large reveal' id='dogModal04' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/chihuahua01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Wawa</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Chihuahua</p>
                    <h5>AGE</h5>
                    <p>1 Year old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/pug01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal05'>Details</button></center>
            <div class='large reveal' id='dogModal05' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/pug01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Paggy</p>
                    <h5>GENDER</h5>
                    <p>Female</p>
                    <h5>BREED</h5>
                    <p>Pug</p>
                    <h5>AGE</h5>
                    <p>8 months old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>

        </div>

    </div>
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/tibetan01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal06'>Details</button></center>
            <div class='large reveal' id='dogModal06' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/tibetan01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Tibby</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Tibetan Mastiff</p>
                    <h5>AGE</h5>
                    <p>4 months old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/greatdane01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal07'>Details</button></center>
            <div class='large reveal' id='dogModal07' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/greatdane01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Danny</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>Great Dane</p>
                    <h5>AGE</h5>
                    <p>2 months old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="large-3 medium-6 columns">
        <div class='card dogs'>

            <img src='../assets/img/petandsupplies/dogs/germanshepherd01.jpg'>
            <div class='card-divider'>
                ₱4000
            </div>

            <center><button class="hollow button warning" data-open='dogModal08'>Details</button></center>
            <div class='large reveal' id='dogModal08' data-reveal>
                <div class="large-6 columns pet-img">
                    <img src='../assets/img/petandsupplies/dogs/germanshepherd01.jpg'>
                </div>
                <div class="large-6 columns pet-description">
                    <br>
                    <h5>NAME</h5>
                    <p>Cheng</p>
                    <h5>GENDER</h5>
                    <p>Male</p>
                    <h5>BREED</h5>
                    <p>German Shepherd</p>
                    <h5>AGE</h5>
                    <p>2 yrs. old</p>
                    <button class="hollow button warning">BUY NOW</button>
                </div>

                <!-- CLOSE BUTTON -->
                <button class='close-button' data-close aria-label='Close modal' type='button'>
                <span aria-hidden='true'>&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>